<header class="old-header" style=" position: static; ">
    <h1>
        a页面</h1>
    <i class="icon_home i_bef"></i></header>

<section class="cui-citys-bd">
    <div class="view" id="ui-view-10">

        <ul class="cui-city-itmes">

            <li data-groupindex="0" class=" cui-arrow-open">
  <span class="cui-city-t">
   弹出层类组件 </span>


                <ul class="cui-city-n">


                    <li data-index="0" data-group="0" data-filter="alert 警告框 ">警告框 </li>

                    <li data-index="1" data-group="0" data-filter="toast toast框 ">toast框 </li>

                    <li data-index="2" data-group="0" data-filter="reloading loading框 ">loading框 </li>

                    <li data-index="3" data-group="0" data-filter="bubble.layer 气泡框提示 ">气泡框提示 </li>

                    <li data-index="4" data-group="0" data-filter="warning404 404提醒 ">404提醒 </li>

                    <li data-index="5" data-group="0" data-filter="layerlist 弹出层list ">弹出层list </li>

                </ul>




            </li><li data-groupindex="1" class=" cui-arrow-open">
  <span class="cui-city-t">
   常用组件 </span>


            <ul class="cui-city-n">


                <li data-index="0" data-group="1" data-filter="identity 身份证键盘 ">身份证键盘 </li>

                <li data-index="1" data-group="1" data-filter="imageslider 图片轮播 ">图片轮播 </li>

                <li data-index="2" data-group="1" data-filter="num 数字组件 ">数字组件 </li>

                <li data-index="3" data-group="1" data-filter="select select组件 ">select组件 </li>

                <li data-index="4" data-group="1" data-filter="switch switch组件 ">switch组件 </li>

            </ul>




        </li></ul>
    </div></section>