<header class="old-header" style=" position: static; ">
    <h1>
        b页面</h1>
    <i class="returnico i_bef"></i><i class="icon_home i_bef"></i></header>

<section class="cui-citys-bd">
<div class="view" id="ui-view-10">

<ul class="cui-city-itmes">
<li data-groupindex="1" class=" cui-arrow-open">
  <span class="cui-city-t">
   常用组件 </span>
   
   
    <ul class="cui-city-n">

     
      <li data-index="0" data-group="1" data-filter="identity 身份证键盘 ">身份证键盘 </li>
     
      <li data-index="1" data-group="1" data-filter="imageslider 图片轮播 ">图片轮播 </li>
     
      <li data-index="2" data-group="1" data-filter="num 数字组件 ">数字组件 </li>
     
      <li data-index="3" data-group="1" data-filter="select select组件 ">select组件 </li>
     
      <li data-index="4" data-group="1" data-filter="switch switch组件 ">switch组件 </li>
     
      <li data-index="5" data-group="1" data-filter="tab tab组件 ">tab组件 </li>
     
      <li data-index="6" data-group="1" data-filter="calendar 日历组件 ">日历组件 </li>
     
      <li data-index="7" data-group="1" data-filter="group.list 分组列表 ">分组列表 </li>
     
      <li data-index="8" data-group="1" data-filter="group.list 搜索列表（城市搜索，地址搜索，待补充） ">搜索列表（城市搜索，地址搜索，待补充） </li>
     
    </ul>

   
   

  </li><li data-groupindex="1" class=" cui-arrow-open">
  <span class="cui-city-t">
   常用组件 </span>


    <ul class="cui-city-n">


        <li data-index="0" data-group="1" data-filter="identity 身份证键盘 ">身份证键盘 </li>

        <li data-index="1" data-group="1" data-filter="imageslider 图片轮播 ">图片轮播 </li>

        <li data-index="2" data-group="1" data-filter="num 数字组件 ">数字组件 </li>

        <li data-index="3" data-group="1" data-filter="select select组件 ">select组件 </li>

        <li data-index="4" data-group="1" data-filter="switch switch组件 ">switch组件 </li>

    </ul>




</li></ul>
</div></section>