<section class="cm-pop cm-pop--radius <%if(needBorder){ %> cm-pop--border <%} %> <%if(dir == 'up'){ %> <%=upClass %> <% } else { %> <%=downClass %> <% } %>">
<i class="icond-pop-triangle"></i>
<div class="cm-pop-bd">
  <ul class="cm-pop-list <%=itemStyleClass %>">
    <% for(var i = 0, len = data.length; i < len; i++) { %>
    <% var itemData = data[i]; %>
    <li data-index="<%=i%>" data-flag="c" class="<% if(index == i){ %><%=curClass %><%} %>"  ><%=itemData.name %></li>
    <% } %>
  </ul>
</div>
</section>

