
.cui-switch {
    position: relative;
    width: 44px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 24px;
    background-color: #ccc;
    cursor: pointer;
    -webkit-transition: 200ms background-color ease-in;
    -moz-transition: 200ms background-color ease-in;
    transition: 200ms background-color ease-in
}

.cui-switch.current {
    background-color: #099fde
}

.cui-switch .cui-switch-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 24px;
    border-radius: 24px;
    background-color: #ccc;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    transform-origin: center center;
    -webkit-transition: 200ms -webkit-transform ease-in;
    -moz-transition: 200ms -moz-transform ease-in;
    transition: 200ms transform ease-in
}

.cui-switch .cui-switch-bg.current {
    width: 44px;
    height: 24px;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    transform: scale(0,0)
}

.cui-switch .cui-switch-scroll {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 21px;
    height: 22px;
    border-radius: 22px;
    background-color: #fff;
    -webkit-transition: 200ms width ease-in,200ms left ease-in,200ms right ease-in;
    -moz-transition: 200ms width ease-in,200ms left ease-in,200ms right ease-in;
    transition: 200ms width ease-in,200ms left ease-in,200ms right ease-in
}

.cui-switch.current .cui-switch-scroll {
    left: 21px;
    right: 1px
}

.cui-switch .cui-switch-scroll.wide {
    left: 2px;
    right: 14px
}

.cui-switch.current .cui-switch-scroll.wide {
    left: 14px;
    right: 1px
}
