.clearfix:before, .cm-gallery-list:before, .cm-days:before, .cm-calendar .cm-calendar-hd:before, .clearfix:after, .cm-gallery-list:after, .cm-days:after, .cm-calendar .cm-calendar-hd:after {
  content: "";
  display: table;
}
.clearfix:after, .cm-gallery-list:after, .cm-days:after, .cm-calendar .cm-calendar-hd:after {
  clear: both;
}

.justify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line-item, .cm-radio-list li, .cm-checkbox-list li, .cm-pop .cm-pop-list li, .form-item {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  line-height: 33px;
  padding: 5px 10px;
  position: relative;
  display: block;
  cursor: pointer;
}
.line-item:first-child, .cm-radio-list li:first-child, .cm-checkbox-list li:first-child, .cm-pop .cm-pop-list li:first-child, .form-item:first-child {
  border-top: 1px solid #dbdbdb;
}
.line-item:active, .cm-radio-list li:active, .cm-checkbox-list li:active, .cm-pop .cm-pop-list li:active, .form-item:active, .line-item:hover, .cm-radio-list li:hover, .cm-checkbox-list li:hover, .cm-pop .cm-pop-list li:hover, .form-item:hover {
  background-color: whitesmoke;
}

.ellipsis, .cm-header .cm-page-title, .line-list--ellipsis .line-item,
.line-item--ellipsis, .cm-modal .cm-modal-title, .cm-scroll-select .cm-select-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cm-nav, .cm-tabs-nav .cm-tabs-title-list {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.cm-nav li, .cm-tabs-nav .cm-tabs-title-list li {
  display: table-cell;
}

.icon-refund, .icon-offline, .icon-phone, .icon-home, .icon-loved, .icon-love, .icon-comment, .icon-compass, .icon-file, .icon-share, .icon-email, .icon-edit, .icon-sucess, .icon-date, .icon-rate, .icon-rate-half::before, .cm-rate-view--four-half .icon-rate:nth-of-type(5)::before, .cm-rate-view--three-half .icon-rate:nth-of-type(4)::before, .cm-rate-view--two-half .icon-rate:nth-of-type(3)::before, .cm-rate-view--one-half .icon-rate:nth-of-type(2)::before, .cm-rate-view--half .icon-rate:first-child::before, .icon-loading, .icon-loading .icon-loading-circle {
  background-image: url(http://doc.ui.sh.ctriptravel.com/utools/thumb/docs/images/bg-global.png);
  background-repeat: no-repeat;
  -webkit-background-size: 240px auto;
          background-size: 240px auto;
  vertical-align: middle;
  display: inline-block;
}

.icond-arrow::after, .line-list--arrow .line-item::after,
.line-item--arrow::after, .form-item.form-item--arrow::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1px;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icond-close, .cm-search-block .icond-clear {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}
.icond-close::before, .cm-search-block .icond-clear::before, .icond-close::after, .cm-search-block .icond-clear::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -8px;
}
.icond-close::after, .cm-search-block .icond-clear::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/**
 * set height 100%.
 */
html,
body {
  height: 100%;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sandal's style
 */
html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

/**
 * 1. Remove default margin
 * 0. sandal's style.
 */
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #efefef;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sandal's style.
 */
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #099fde;
}
a:active {
  outline: 0;
}
a:active {
  color: #077cad;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sandal's style.
 */
img {
  border: 0;
  vertical-align: middle;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Address Firefox 4+ setting `line-height` on `input` using `!important` in
 *    the UA stylesheet.
 * 0. clear webkit add style
 */
input {
  line-height: normal;
}
input:focus {
  outline: 0 none;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sandal's style
 */
textarea {
  overflow: auto;
  resize: vertical;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

i {
  font-style: normal;
}

textarea, input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only;
  outline: none !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fs12 {
  font-size: 12px;
}

.grayc {
  color: #ccc;
}

.gray9 {
  color: #999;
}

.gray6 {
  color: #666;
}

.p10 {
  padding: 10px;
}

.plr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}

.guide-title {
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.full-width {
  width: 100%;
}

.pos-s {
  position: static !important;
}

.cm-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  z-index: 985;
}

.cm-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 980;
}
.cm-overlay.active {
  display: block;
}

.btn, .btn-primary, .btn-secondary, .btn-sub {
  line-height: 44px;
  height: 44px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn {
  background-color: #fff;
  color: #099fde;
  border: 1px solid #dbdbdb;
}
.btn:active, .btn:hover {
  background: #e6e6e6;
}

.disabled[class^="btn"] {
  background-color: #b2b2b2 !important;
  color: #fff !important;
  cursor: default !important;
}

.btn-primary {
  background-color: #ff9a14;
  color: #fff;
  border: 0 none;
}
.btn-primary:active, .btn-primary:hover {
  background: #e08000;
}

.btn-secondary {
  background-color: #099fde;
  color: #fff;
  border: 0 none;
}
.btn-secondary:active, .btn-secondary:hover {
  background: #077cad;
}

.btn-sub {
  background-color: #52bce8;
  color: #fff;
  border: 0 none;
}
.btn-sub:active, .btn-sub:hover {
  background: #25abe2;
}

.btn-link {
  color: #099fde;
  line-height: 44px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.btns-group {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  background-color: #fff;
}
.btns-group .btn {
  display: table-cell;
}
.btns-group .btn {
  border: none;
  border-radius: 0;
  position: relative;
}
.btns-group .btn::before {
  content: "";
  width: 1px;
  height: 30px;
  background-color: #dbdbdb;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 7px;
}
.btns-group .btn:first-child::before {
  display: none;
}

.btns-seperate-group {
  text-align: right;
  height: 44px;
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  background-color: #fff;
}
.btns-seperate-group span[class^="btn"] {
  line-height: 32px;
  height: 32px;
  margin: 5px 10px 0 0;
}

.cm-actions {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.cm-actions .cm-actions-btn {
  display: table-cell;
}
.cm-actions .cm-actions-btn {
  color: #099fde;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.cm-actions .cm-actions-btn:first-child {
  border-left: none;
}
.cm-actions .cm-actions-btn:active, .cm-actions .cm-actions-btn:hover {
  background: #e6e6e6;
}

.cm-actions--full {
  display: block;
}
.cm-actions--full .cm-actions-btn {
  display: block;
  width: 100%;
  border-left: none;
}

.icon-refund {
  width: 43px;
  height: 43px;
  background-position: -181px 0;
}

.icon-offline {
  width: 38px;
  height: 38px;
  background-position: -130px 0;
}

.icon-phone {
  width: 20px;
  height: 20px;
  background-position: -23px -50px;
}

.icon-home {
  width: 20px;
  height: 20px;
  background-position: 0 -52px;
}

.icon-loved {
  width: 20px;
  height: 20px;
  background-position: -47px -50px;
}

.icon-love {
  width: 20px;
  height: 20px;
  background-position: -71px -50px;
}

.icon-comment {
  width: 20px;
  height: 20px;
  background-position: -97px -50px;
}

.icon-compass {
  width: 20px;
  height: 20px;
  background-position: -123px -50px;
}

.icon-file {
  width: 20px;
  height: 20px;
  background-position: -147px -50px;
}

.icon-share {
  width: 20px;
  height: 20px;
  background-position: -172px -50px;
}

.icon-email {
  width: 20px;
  height: 20px;
  background-position: -198px -51px;
}

.icon-edit {
  width: 18px;
  height: 18px;
  background-position: -47px -80px;
}

.icon-sucess {
  width: 33px;
  height: 33px;
  background-position: 0 -80px;
}

.icon-date {
  width: 15px;
  height: 15px;
  background-position: -48px -105px;
}

.icon-rate {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: -225px -98px;
  position: relative;
}

.icon-rate-active, .cm-rate-view--five .icon-rate, .cm-rate-view--four-half .icon-rate:nth-of-type(-n+4), .cm-rate-view--four .icon-rate:nth-of-type(-n+4), .cm-rate-view--three-half .icon-rate:nth-of-type(-n+3), .cm-rate-view--three .icon-rate:nth-of-type(-n+3), .cm-rate-view--two-half .icon-rate:nth-of-type(-n+2), .cm-rate-view--two .icon-rate:nth-of-type(-n+2), .cm-rate-view--one-half .icon-rate:first-child, .cm-rate-view--one .icon-rate:nth-of-type(-n+1) {
  background-position: -225px -80px;
}

.icon-rate-half::before, .cm-rate-view--four-half .icon-rate:nth-of-type(5)::before, .cm-rate-view--three-half .icon-rate:nth-of-type(4)::before, .cm-rate-view--two-half .icon-rate:nth-of-type(3)::before, .cm-rate-view--one-half .icon-rate:nth-of-type(2)::before, .cm-rate-view--half .icon-rate:first-child::before {
  content: "";
  width: 7.5px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  background-position: -225px -80px;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.icon-loading {
  position: relative;
  width: 38px;
  height: 38px;
  background-position: -39px 0;
}
.icon-loading .icon-loading-circle {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-animation: loading 0.8s linear infinite;
          animation: loading 0.8s linear infinite;
}

.icon-loading--gray {
  width: 24px;
  height: 24px;
  background-position: -96px 0;
}
.icon-loading--gray .icon-loading-circle {
  width: 24px;
  height: 24px;
  background-position: -77px 0;
}

.icond-back {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.icond-back::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icond-checkbox, .icond-radio {
  display: inline-block;
  vertical-align: -2px;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  background-color: #fff;
  position: relative;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.icond-checkbox.active, .cm-checkbox-list .active .icond-checkbox, .icond-radio.active {
  border-color: #099fde;
}
.icond-checkbox.active::after, .cm-checkbox-list .active .icond-checkbox::after, .icond-radio.active::after {
  content: "";
  height: 4px;
  width: 12px;
  border: 1px solid #099fde;
  border-width: 0 0 2px 2px;
  position: absolute;
  top: 1px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icond-checkbox.active::before, .cm-checkbox-list .active .icond-checkbox::before, .icond-radio.active::before {
  content: "";
  width: 5px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}
.icond-checkbox.disabled, .icond-radio.disabled {
  border-color: #ccc;
}

.icond-radio {
  border-radius: 10px;
}
.icond-radio.active::after {
  width: 10px;
  top: 2px;
  left: 4px;
}
.icond-radio.active::before {
  top: 0;
  border-radius: 0 6px 0 0;
}

.icond-switch {
  height: 28px;
  width: 46px;
  position: relative;
  display: block;
  background-color: #CCCCCC;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.icond-switch::before {
  content: "";
  height: 28px;
  width: 46px;
  position: absolute;
  left: -46px;
  background-color: #099FDE;
  border-radius: 14px;
  -webkit-transition: left 0.2s ease 0s;
          transition: left 0.2s ease 0s;
  z-index: 2;
}
.icond-switch::after {
  content: "";
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 14px;
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transition: left 0.2s ease 0s;
          transition: left 0.2s ease 0s;
  z-index: 3;
}
.icond-switch.active::before {
  left: 0;
}
.icond-switch.active::after {
  left: 20px;
}

.icond-arrow {
  display: inline-block;
  width: 30px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.icond-search {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.icond-search::after {
  content: "";
  background: #fff;
  height: 7px;
  width: 2px;
  position: absolute;
  left: 11px;
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icond-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
}
.icond-close::before, .icond-close::after {
  background-color: #fff;
}

.icond-list {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
}
.icond-list::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
          box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}

.icond-plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.icond-plus::before, .icond-plus::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #099fde;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.icond-plus::after {
  width: 2px;
  height: 16px;
}

.cm-header,
.cm-footer,
.cm-header-sub {
  position: fixed;
  left: 0;
  right: 0;
}

.cm-header {
  top: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #099fde;
  color: #fff;
  z-index: 960;
}

.cm-header-sub {
  top: 44px;
  height: 44px;
  z-index: 960;
}

.cm-footer {
  bottom: 0;
  height: 48px;
  z-index: 940;
}

.cm-page {
  padding-top: 44px;
}
.cm-page.no-header-sub {
  padding-top: 88px;
}
.cm-page.no-footer .cm-scroll-inner {
  margin-bottom: 48px;
}

.cm-page--left {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.cm-page--right {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.cm-page--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.cm-page--in {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
          transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

.cm-page--out {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
          transition: transform 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}

.cm-header .cm-page-title {
  line-height: 44px;
  margin: 0 44px;
  font-size: 18px;
}
.cm-header .cm-page-title .cm-title-l {
  line-height: 28px;
  display: block;
}
.cm-header .cm-page-title .cm-title-s {
  line-height: 1;
  font-size: 12px;
  display: block;
}
.cm-header .cm-page-mutil-title {
  font-size: 14px;
  line-height: 18px;
  padding-top: 4px;
  margin-right: 20px;
}
.cm-header .cm-page-tabs-title {
  display: inline-block;
  background-color: #066f9b;
  border-radius: 4px;
  padding: 1px;
  line-height: 32px;
  margin: 5px 44px 0 0;
}
.cm-header .cm-page-tabs-title span {
  float: left;
  padding: 0 15px;
}
.cm-header .cm-page-tabs-title span.active {
  border-radius: 4px;
  background-color: #099fde;
}
.cm-header .cm-page-select-title {
  line-height: 34px;
  margin-top: 5px;
  margin-right: 44px;
}
.cm-header .cm-page-select-title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.cm-header .cm-page-select-title.expanded::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 1px;
}
.cm-header .cm-header-icon {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  background-color: #099fde;
  cursor: pointer;
}
.cm-header .cm-header-icon:active, .cm-header .cm-header-icon:hover {
  background-color: #077cad;
}
.cm-header .cm-header-btn {
  padding: 0 10px;
  cursor: pointer;
}
.cm-header .cm-header-btn:active, .cm-header .cm-header-btn:hover {
  background-color: #077cad;
}

.cm-nav {
  background-color: #283847;
  height: 48px;
  text-align: center;
  color: #fff;
}
.cm-nav li {
  padding: 5px 0;
  position: relative;
  line-height: 38px;
  cursor: pointer;
}
.cm-nav .active {
  background-color: #283847;
  color: #30a8ff;
}
.cm-nav .cm-nav-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.cm-nav .sup-num {
  position: absolute;
  right: 0;
  height: 15px;
  min-width: 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  background-color: #ff9a14;
  line-height: 14px;
  text-align: center;
  padding: 0 4px;
}
.cm-nav .icond-circle {
  position: absolute;
  top: 5px;
  margin-left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #ff9a14;
}

.cm-nav--mix-v {
  font-size: 12px;
}
.cm-nav--mix-v li {
  padding: 5px 0;
  line-height: 17px;
}
.cm-nav--mix-v .cm-nav-icon {
  width: 22px;
  height: 22px;
  display: block;
  margin: 0 auto;
}

.line-item .title {
  line-height: 1.3;
  margin-bottom: 4px;
}
.line-item .intro {
  line-height: 1.3;
  font-size: 12px;
}

.line-list--arrow .line-item,
.line-item--arrow {
  padding-right: 25px;
}

.line-item--arrow-btn {
  cursor: default;
  padding-right: 30px;
}
.line-item--arrow-btn .icond-arrow {
  position: absolute;
  right: 0;
  top: 0;
}

.line-list--arrow .line-item--arrow-no::after {
  display: none;
}

.line-list--switch .icond-switch,
.line-item--switch .icond-switch {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  right: 10px;
}

.line-list--switch .line-item.active .icond-switch::before,
.line-item--switch.active .icond-switch::before {
  left: 0;
}
.line-list--switch .line-item.active .icond-switch::after,
.line-item--switch.active .icond-switch::after {
  left: 20px;
}

.line-list .line-divider {
  padding-left: 10px;
  line-height: 34px;
  font-weight: bold;
  background-color: whitesmoke;
  border-bottom: 1px solid #dbdbdb;
}

.cm-radio-list li {
  padding-right: 30px;
}
.cm-radio-list .active {
  color: #099fde;
}
.cm-radio-list .active::after {
  content: "";
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #099fde;
  border-left: 2px solid #099fde;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -4px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.cm-radio-list--text-center {
  text-align: center;
}

.cm-radio-list--left li {
  padding-left: 30px;
  padding-right: 10px;
}
.cm-radio-list--left .active::after {
  left: 10px;
}

.cm-multistep-checked {
  background-color: #efefef;
  padding-left: 30%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.cm-multistep-checked .cm-multistep-1 {
  width: 30%;
  position: fixed;
  left: 0;
  border-top: 1px solid #dbdbdb;
}
.cm-multistep-checked .cm-multistep-1 .cm-multistep-title {
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
}
.cm-multistep-checked .cm-multistep-1 .cm-multistep-title.active {
  background-color: #fff;
}
.cm-multistep-checked .cm-multistep-2 {
  background-color: #fff;
}

.cm-checkbox-list--right .icond-checkbox {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  right: 10px;
}

.cm-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  z-index: 985;
}

.cm-loading--close {
  padding: 15px;
  width: 100px;
}
.cm-loading--close .icond-close {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.cm-loading--close .icond-close::before, .cm-loading--close .icond-close::after {
  height: 12px;
}
.cm-loading--close .cm-loading-text {
  margin-top: 10px;
}

.cm-loading--fail {
  padding: 10px 15px;
  white-space: nowrap;
}

.cm-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  width: 300px;
  padding-top: 44px;
  z-index: 985;
}
.cm-modal .cm-modal-hd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  line-height: 44px;
  background-color: #099fde;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.cm-modal .cm-modal-title {
  line-height: 44px;
  padding-left: 10px;
  padding-right: 44px;
  font-weight: bold;
  font-size: 16px;
}
.cm-modal .cm-modal-hd--center {
  text-align: center;
}
.cm-modal .cm-modal-hd--center .cm-modal-title {
  padding-right: 10px;
}
.cm-modal .cm-modal-hd--tint {
  background-color: #fff;
  color: #333;
}
.cm-modal .cm-modal-hd--tint .icond-close {
  background-color: rgba(0, 0, 0, 0.7);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: 7px;
  right: 5px;
  line-height: 30px;
}
.cm-modal .cm-modal-bd {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.cm-modal--no-header {
  padding-top: 0;
}

.cm-modal--ft {
  padding-bottom: 44px;
}
.cm-modal--ft .cm-modal-ft {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 44px;
  line-height: 44px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}
.cm-modal--ft .cm-modal-ft.cm-actions {
  border-top: none;
}

.cm-modal--alert {
  border: 1px solid #dbdbdb;
  width: 280px;
  padding-top: 0;
}
.cm-modal--alert .cm-modal-bd {
  padding: 20px 10px;
  text-align: center;
}
.cm-modal--alert .cm-modal-bd .cm-alert-title {
  font-weight: bold;
  font-size: 16px;
}
.cm-modal--alert .cm-modal-bd .cm-mutil-lines {
  text-align: left;
}

.cm-modal .cm-radio-list li:first-child,
.cm-modal .cm-checkbox-list li:first-child {
  border-top: none;
}
.cm-modal .cm-radio-list li:last-child,
.cm-modal .cm-checkbox-list li:last-child {
  border-bottom: none;
}

.cm-modal--action {
  background: none;
  padding-top: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  top: auto;
  bottom: 0;
}
.cm-modal--action .cm-actions {
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  border-top: none;
}

.cm-pop {
  display: none;
  position: absolute;
  z-index: 985;
  width: 100%;
}
.cm-pop .icond-pop-triangle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}
.cm-pop .cm-pop-bd {
  background-color: #fff;
}
.cm-pop .cm-pop-list li:first-child {
  border-top: none;
}
.cm-pop .cm-pop-list li:last-child {
  border-bottom: none;
}
.cm-pop .cm-pop-list li.active, .cm-pop .cm-pop-list li:active, .cm-pop .cm-pop-list li:hover {
  background-color: #099fde;
  color: #fff;
}
.cm-pop .cm-pop-list--checked li {
  padding-right: 30px;
}
.cm-pop .cm-pop-list--checked li.active {
  background-color: #fff;
  color: #099fde;
}
.cm-pop .cm-pop-list--checked li.active::after {
  content: "";
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #099fde;
  border-left: 2px solid #099fde;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -4px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.cm-pop--triangle-up .icond-pop-triangle {
  top: -5px;
}

.cm-pop--border {
  border: 1px solid #dbdbdb;
}
.cm-pop--border .icond-pop-triangle {
  border: 1px solid #dbdbdb;
  border-color: #fff #dbdbdb #dbdbdb #fff;
}
.cm-pop--border.cm-pop--triangle-up .icond-pop-triangle {
  border-color: #dbdbdb #fff #fff #dbdbdb;
}
.cm-pop--border.cm-pop--radius {
  border-radius: 6px;
}

.cm-pop--radius .cm-pop-bd {
  border-radius: 4px;
  overflow: hidden;
}

.cm-page-pop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  z-index: 985;
}
.cm-page-pop .cm-pop-bd {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
}

.cm-pop--user-nav {
  top: 44px;
  right: 0;
  color: #fff;
  width: 128px;
}
.cm-pop--user-nav .icond-pop-triangle {
  background-color: #283847;
  left: auto;
  right: 10px;
}
.cm-pop--user-nav .cm-pop-list li {
  background-color: #283847;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.cm-pop--user-nav .cm-pop-list li i[class^="icon-"] {
  margin-right: 10px;
}
.cm-pop--user-nav .cm-pop-list li:active, .cm-pop--user-nav .cm-pop-list li:hover {
  background-color: #161e26;
}

.cm-tabs-nav {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  line-height: 44px;
}
.cm-tabs-nav .cm-tabs-title-list li {
  text-align: center;
}
.cm-tabs-nav .cm-tabs-title-list li.active {
  color: #099fde;
}
.cm-tabs-nav .icond-active {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 50%;
  height: 4px;
  background-color: #099fde;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cm-group-list .cm-group-hd {
  line-height: 34px;
  font-weight: bold;
  background-color: whitesmoke;
  position: relative;
  padding: 0 10px;
  border-bottom: 1px solid #dbdbdb;
}
.cm-group-list .cm-group-hd:nth-of-type(1) {
  border-top: 1px solid #dbdbdb;
}
.cm-group-list .cm-group-hd::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}
.cm-group-list .cm-group-hd.expanded::after {
  margin-top: 3px;
  -webkit-transform: translate(0, -50%) rotate(135deg);
          transform: translate(0, -50%) rotate(135deg);
}
.cm-group-list .cm-group-bd {
  display: none;
}
.cm-group-list .cm-group-bd li:first-child {
  border-top: none;
}
.cm-group-list .cm-group-hd.expanded + .cm-group-bd {
  display: block;
}

.cm-search-block {
  background-color: #e6f1f7;
  padding: 7px;
  position: relative;
}
.cm-search-block .cm-search-ele-wrap {
  position: relative;
}
.cm-search-block .cm-search-text {
  border: 0 none;
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  height: 30px;
  padding: 5px 30px;
}
.cm-search-block .icond-search {
  border-color: #999;
  position: absolute;
  top: 7px;
  left: 7px;
}
.cm-search-block .icond-search::after {
  background: #999;
}
.cm-search-block .icond-clear {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.cm-search-block .icond-clear::before, .cm-search-block .icond-clear::after {
  background-color: #999;
}
.cm-search-block .icon-loading {
  position: absolute;
  right: 3px;
  top: 3px;
}

.cm-search-block--cancel .cm-search-ele-wrap {
  position: relative;
  margin-right: 50px;
}
.cm-search-block--cancel .cm-search-cancel {
  line-height: 44px;
  padding: 0 10px;
  color: #099fde;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.cm-num-adjust {
  height: 33px;
  color: #099fde;
  background-color: #fff;
  display: inline-block;
  border-radius: 4px;
}
.cm-num-adjust .cm-adjust-minus,
.cm-num-adjust .cm-adjust-plus,
.cm-num-adjust .cm-adjust-view {
  width: 33px;
  height: 33px;
  line-height: 31px;
  text-align: center;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cm-num-adjust .cm-adjust-minus,
.cm-num-adjust .cm-adjust-plus {
  cursor: pointer;
  border: 1px solid #099fde;
}
.cm-num-adjust .cm-adjust-minus.disabled,
.cm-num-adjust .cm-adjust-plus.disabled {
  cursor: default !important;
  background-color: #fff !important;
  border-color: #999 !important;
}
.cm-num-adjust .cm-adjust-minus.disabled::before, .cm-num-adjust .cm-adjust-minus.disabled::after,
.cm-num-adjust .cm-adjust-plus.disabled::before,
.cm-num-adjust .cm-adjust-plus.disabled::after {
  background-color: #999 !important;
}
.cm-num-adjust .cm-adjust-minus:active, .cm-num-adjust .cm-adjust-minus:hover,
.cm-num-adjust .cm-adjust-plus:active,
.cm-num-adjust .cm-adjust-plus:hover {
  background-color: #099fde;
}
.cm-num-adjust .cm-adjust-minus:active::before, .cm-num-adjust .cm-adjust-minus:active::after, .cm-num-adjust .cm-adjust-minus:hover::before, .cm-num-adjust .cm-adjust-minus:hover::after,
.cm-num-adjust .cm-adjust-plus:active::before,
.cm-num-adjust .cm-adjust-plus:active::after,
.cm-num-adjust .cm-adjust-plus:hover::before,
.cm-num-adjust .cm-adjust-plus:hover::after {
  background-color: #fff;
}
.cm-num-adjust .cm-adjust-minus {
  border-right: none;
  border-radius: 4px 0 0 4px;
  position: relative;
}
.cm-num-adjust .cm-adjust-minus::before {
  content: "";
  height: 2px;
  width: 16px;
  background-color: #099fde;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.cm-num-adjust .cm-adjust-minus + .cm-adjust-plus {
  border-left: 1px solid #099fde;
}
.cm-num-adjust .cm-adjust-plus {
  border-left: none;
  border-radius: 0 4px 4px 0;
  position: relative;
}
.cm-num-adjust .cm-adjust-plus::before, .cm-num-adjust .cm-adjust-plus::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #099fde;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.cm-num-adjust .cm-adjust-plus::after {
  width: 2px;
  height: 16px;
}
.cm-num-adjust .cm-adjust-view {
  border: 1px solid #099fde;
  overflow: hidden;
}

.cm-rate-view {
  display: inline-block;
}
.cm-rate-view .icon-rate {
  float: left;
  margin-right: 5px;
}
.cm-rate-view .icon-rate:last-child {
  margin-right: 0;
}

.cm-scroll-select-wrap,
.cm-scroll-select {
  overflow: hidden;
  height: 160px;
  position: relative;
}

.cm-scroll-select {
  background-color: #fff;
  font-size: 16px;
}
.cm-scroll-select .cm-select-list {
  text-align: center;
  line-height: 24px;
}
.cm-scroll-select .cm-select-list .xl {
  font-size: 24px;
  color: #099fde;
  line-height: 44px;
}
.cm-scroll-select .cm-select-list .l {
  font-size: 20px;
  line-height: 34px;
}

.cm-select-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 60%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 60%, white 100%);
}
.cm-select-mask::before, .cm-select-mask::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
  position: absolute;
  top: 50%;
  margin-top: -21px;
}
.cm-select-mask::after {
  margin-top: 21px;
}

.cm-scroll-select-wrap .cm-scroll-select {
  float: left;
  width: 50%;
}

.cm-slide {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 210px;
}
.cm-slide .cm-slide-view li {
  position: absolute;
  left: 0 !important;
  right: 0;
  width: 100%;
  height: 210px;
  text-align: center;
}
.cm-slide .cm-slide-view img {
  max-width: 100%;
}
.cm-slide .cm-slide-bullet {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
.cm-slide .cm-slide-bullet .cm-bullet-item {
  font-style: normal;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin: 2px;
}
.cm-slide .cm-slide-bullet .cm-bullet-item.active {
  background-color: rgba(255, 255, 255, 0.8);
}

.cm-gallery-list {
  width: 320px;
  margin: 0 auto;
  padding: 10px 5px;
}
.cm-gallery-list li {
  float: left;
  width: 150px;
  margin: 0 10px 10px 0;
}
.cm-gallery-list li:nth-of-type(2n) {
  margin-right: 0;
}
.cm-gallery-list img {
  width: 150px;
  height: 128px;
}

.cm-gallery-nav {
  background: #333;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.cm-gallery-nav .cm-prev, .cm-gallery-nav .cm-next {
  float: left;
  width: 25%;
}
.cm-gallery-nav .cm-nums {
  float: left;
  width: 50%;
  border: 1px solid #3E3E3E;
  border-width: 0 1px;
}
.cm-gallery-nav .disabled {
  color: rgba(255, 255, 255, 0.2);
}

.cm-gallery .cm-gallery-slide {
  height: 160px;
  position: relative;
  overflow: hidden;
}
.cm-gallery .cm-gallery-slide li {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
.cm-gallery .cm-gallery-slide img {
  max-width: 100%;
  max-height: 160px;
}

@media screen and (orientation: portrait) {
  .cm-gallery .cm-gallery-slide {
    position: absolute;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
    margin-top: -30px;
  }
  .cm-gallery .cm-gallery-title {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 70px;
    padding: 0 10px;
    text-align: center;
  }
}
@media screen and (orientation: landscape) {
  .cm-gallery .cm-gallery-slide {
    margin: 10px 0;
  }
  .cm-gallery .cm-gallery-slide li {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
  }
  .cm-gallery .cm-gallery-title {
    padding: 0 10px;
    text-align: center;
  }
}
.cm-page-fail {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.cm-page-fail .cm-fail-info {
  margin: 15px 0;
}
.cm-page-fail .cm-fail-redo {
  padding-top: 40px;
  margin-bottom: 20px;
}
.cm-page-fail .cm-fail-redo .cm-fail-info {
  font-size: 16px;
}
.cm-page-fail .cm-fail-service {
  border-top: 1px solid #dbdbdb;
}
.cm-page-fail .cm-fail-redo-btn,
.cm-page-fail .cm-fail-service-btn {
  line-height: 44px;
  height: 44px;
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.cm-page-fail .cm-fail-redo-btn {
  background-color: #ff9a14;
  color: #fff;
}
.cm-page-fail .cm-fail-redo-btn:hover, .cm-page-fail .cm-fail-redo-btn:active {
  background-color: #e08000;
}
.cm-page-fail .cm-fail-service-btn {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #099fde;
}
.cm-page-fail .cm-fail-service-btn:hover, .cm-page-fail .cm-fail-service-btn:active {
  background-color: #e6e6e6;
}

.form-item {
  padding: 0 0 0 90px;
  line-height: 43px;
  min-height: 44px;
}
.form-item:active, .form-item:hover {
  background-color: #fff;
}
.form-item .field-label {
  float: left;
  width: 80px;
  margin-left: -80px;
}
.form-item .field-text {
  height: 43px;
  padding: 7px 5px;
  border: 0 none;
  width: 100%;
}
.form-item.form-item--arrow-btn {
  padding-right: 30px;
}
.form-item.form-item--arrow-btn .icond-arrow {
  position: absolute;
  right: 0;
  top: 0;
}
.form-item.form-item--arrow {
  padding-right: 25px;
}
.form-item.form-item--no-label {
  padding-left: 10px;
  padding-right: 10px;
}

.form--no-label .form-item {
  padding-left: 0;
}
.form--no-label .form-item .field-text {
  padding-left: 10px;
  padding-right: 10px;
}

.cm-panel, .cm-mask-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 140px;
  color: #fff;
  background: #000;
  z-index: 985;
  -webkit-transform: translate3d(-140px, 0, 0);
          transform: translate3d(-140px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}
.cm-panel.active, .active.cm-mask-panel {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.cm-page--panel-on {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
  -webkit-transform: translate3d(140px, 0, 0);
          transform: translate3d(140px, 0, 0);
}

.cm-page--panel-off {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.cm-mask-panel {
  background: rgba(0, 0, 0, 0.7);
}

.cm-days li, .cm-calendar .cm-calendar-hd li {
  float: left;
  width: 14%;
  text-align: center;
}
.cm-days li:nth-of-type(7n), .cm-calendar .cm-calendar-hd li:nth-of-type(7n), .cm-days li:nth-of-type(7n+1), .cm-calendar .cm-calendar-hd li:nth-of-type(7n+1) {
  color: #ff9a14;
  width: 15%;
}

.cm-days li {
  line-height: 48px;
  height: 48px;
}
.cm-days li.active {
  color: #fff;
  background-color: #099fde;
}
.cm-days li.cm-day-disabled {
  color: #ccc;
}
.cm-days .cm-day-special {
  line-height: 24px;
}
.cm-days .cm-day-special .cm-day-title {
  display: block;
  font-size: 12px;
}

.cm-calendar {
  padding-top: 30px;
}
.cm-calendar .cm-calendar-hd {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 44px;
  height: 30px;
}
.cm-calendar .cm-calendar-hd li {
  line-height: 30px;
}
.cm-calendar .cm-calendar-bd {
  background-color: #fff;
}
.cm-calendar .cm-month {
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}

.cm-fade-in, .cm-fade-out, .cm-down-in, .cm-down-out, .cm-up-in, .cm-up-out, .cm-center-fade-in, .cm-center-fade-out, .cm-center-up-in, .cm-center-up-out {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.cm-fade-in {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.cm-fade-out {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.185);
            transform: scale(1.185);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.185);
            transform: scale(1.185);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.815);
            transform: scale(0.815);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.815);
            transform: scale(0.815);
  }
}
.cm-down-in {
  -webkit-animation-name: downIn;
          animation-name: downIn;
}

.cm-down-out {
  -webkit-animation-name: downOut;
          animation-name: downOut;
}

@-webkit-keyframes downIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes downIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes downOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes downOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
.cm-up-in {
  -webkit-animation-name: upIn;
          animation-name: upIn;
}

.cm-up-out {
  -webkit-animation-name: upOut;
          animation-name: upOut;
}

@-webkit-keyframes upIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes upIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes upOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
@keyframes upOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
.cm-overlay-out {
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: overlayOut;
          animation-name: overlayOut;
}

@-webkit-keyframes overlayOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes overlayOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cm-center-fade-in {
  -webkit-animation-name: centerFadeIn;
          animation-name: centerFadeIn;
}

.cm-center-fade-out {
  -webkit-animation-name: centerFadeOut;
          animation-name: centerFadeOut;
}

@-webkit-keyframes centerFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
            transform: translate3d(-50%, -50%, 0) scale(1.185);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes centerFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
            transform: translate3d(-50%, -50%, 0) scale(1.185);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);
  }
}
@-webkit-keyframes centerFadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.815);
            transform: translate3d(-50%, -50%, 0) scale(0.815);
  }
}
@keyframes centerFadeOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.815);
            transform: translate3d(-50%, -50%, 0) scale(0.815);
  }
}
.cm-center-up-in {
  -webkit-animation-name: centerUpIn;
          animation-name: centerUpIn;
}

.cm-center-up-out {
  -webkit-animation-name: centerUpOut;
          animation-name: centerUpOut;
}

@-webkit-keyframes centerUpIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -150%, 0);
            transform: translate3d(-50%, -150%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes centerUpIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -150%, 0);
            transform: translate3d(-50%, -150%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
}
@-webkit-keyframes centerUpOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -150%, 0);
            transform: translate3d(-50%, -150%, 0);
  }
}
@keyframes centerUpOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -150%, 0);
            transform: translate3d(-50%, -150%, 0);
  }
}
